<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/home.css" />
  <body>
    <header class="header">
      <div class="title">
        <h1>reqirem</h1>
      </div>
      <div class="right-side">
        <nav class="assets">
          <a href="#about">About</a>
          <a href="#services">Services</a>
          <a href="#contact">Contact</a>
        </nav>
        <form class="start" method="get" action="/home/tools">
          <button>Get Started</button>
        </form>
      </div>
    </header>
    <div class="statment">
      <p class="high1">Know What’s</p>
      <p class="high2">Inside Your Product</p>
    </div>
    <div>
      <p class="low">
        certifications to ingredients — everything in one place.
      </p>
    </div>
    <form class="second" method="get" action="/home/tools" >
      <button>Get Started</button>
    </form>
    <div class="third">
      <button>technology</button>
    </div>
    <img src="wall.jpg" alt="Home Image" class="styled-alt" />
  </body>
</html>
