<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/tool.css" />
    <link rel="stylesheet" href="/search.css" />
  </head>
  <body>
    <div class="s1">
      <div class="card">
        <form class="search-area">
          <div class="inputbox">
            <input required type="text" /> <!-- place holder hidden then shown  -->
            <i></i>
          </div>

          <button class="search-btn">Search</button>
        </form>
        <p><hr></p>
        <a href="/home/tools/barcode" class="bar">
          <img src="/barcode.png" alt="Scan barcode" class="i1" />
        </a>
        <img src="/ai.png" alt="" class="i2" />
      </div>
    </div>
  </body>
</html>
